certifi==2026.5.20
cftime==1.6.5
georinex==1.16.2
hatanaka==2.8.1
importlib-resources==7.1.0
ncompress==1.0.2
netcdf4==1.7.4
numpy==2.2.6
openpyxl==3.1.5
packaging==26.2
pandas==2.3.3
pip==26.1.2
python-dateutil==2.9.0.post0
pytz==2026.2
setuptools==57.4.0
six==1.17.0
tzdata==2026.2
xarray==2025.6.1